
    <form action="__SELF__" method="post" enctype="multipart/form-data">
        <!--<input type="hidden" name='goods_id' value="{$info.goods_id}" />-->
        <table border="1" width="100%" class="table_a" id="general-tab-tb">

            <tr>
                <td>角色ID：</td>
                <td><input type="text" name="role_id"  value="{$info.role_id}"/></td>
            </tr>
            <tr>
                <td>角色名称：</td>
                <td><input type="text" name="role_name"  value="{$info.role_name}"/></td>
            </tr>

        </table>
        <table width="100%">
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="修改" />
                </td>
            </tr>
        </table>
    </form>
</div>
